@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

.logo-circle {
  width: 63vmin;
  height: 63vmin;
}

@media (min-width: 700px) {
  .logo-circle {
    width: 45vmin;
    height: 45vmin;
  }
}

.strip-img {
  height: clamp(115px, 35.9vh, 317px);
}

@media (min-width: 1200px) {
  .strip-img {
    height: clamp(172px, 53.9vh, 476px);
  }
}
